.card-elevated {
  transition: transform ease-in 0.2s;

  @apply bg-card rounded-xl border border-border shadow-card;
}

.no-scrollbar {
  scrollbar-width: none;
}

.containerHeight {
  height: calc(100dvh - 56px);
}

.card-elevated:hover {
  transform: translateY(-2px);
}

.loader {
  /* animation: loader-gradient 4s infinite; */
  @apply animate-spin duration-500 repeat-infinite;
}

@keyframes loader-gradient {
  0% {
    color: red;
  }

  60% {
    color: blue;
  }
}
