@import "./styles/global.css";
@import "./styles/style.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1rem;
  font-weight: 400;
  font-size: 14px;

  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100dvw;
  min-height: 100dvh;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#root {
  width: 100%;
  height: 100dvh;
  min-height: fit-content;
  overflow-x: hidden;
  scrollbar-width: none;
}
